body,
html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

article h1 {
    font-size: 30px;
    font-weight: bold;

}

#site-name {
    font-size: 30px;
}

#site-name,
nav {
    display: inline-block;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

nav li {
    list-style: none;
    margin: 0 5px;
    display: inline-block;
}
figure{
    margin: 0;
}